/* #footer {
    background: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: #3B3B3B;
} */


#footer {
    display: flex;
    background: #175b87;
    color: #fff;
    padding: 20px;
    justify-content: space-between;
}

.footer__text {
    text-align: right;
}

#contacts {
    width: 400px;
}


#contacts .list {
    color: #fff;
    border: none;
    margin: 0;
}

#contacts .list li {
    display: block;
    margin-left: 20px;
}

.list__name {
    font-weight: bold;
}


@media screen and (max-width: 767px) {
    #footer {
        flex-direction: column;
    }
}