/* main */
#header {
  position: relative;
  background: #ffffff;
}


.header__top {
  height: 17vw;
  background: linear-gradient(90deg, #fff, #004a7b);
}

#logo {
  position: absolute;
  top: 5vw;
  left: 5vw;
  width: 25vw;
  height: 7vw;
}

html[lang='ru'] #logo {
  background: url(../images/logo_ru.png) 0 50% no-repeat;
  background-size: contain;
}
html[lang='en'] #logo {
  background: url(../images/logo_en.png) 0 50% no-repeat;
  background-size: contain;
}
html[lang='tj'] #logo {
  background: url(../images/logo_tj.png) 0 50% no-repeat;
  background-size: contain;
}

/* main menu */

.top-menu {
  position: absolute;
  top: 20px;
  right: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.top-menu-item {
  padding: 3px 10px;
  border-left: 1px solid;
  box-sizing: border-box;
  color: #fff;
}

.top-menu-item-0 {
  border: none;
}


.toggle-language {
  position: relative;
  /* position: absolute;
  top: 1.3vw;
  right: 2.8vw;
  width: 3.5vw;
  height: 2.4vw;
  border-radius: 0.3vw;
  background: #fff;
  cursor: pointer;
  background-image: url(../images/lang/ru.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
}

/* .toggle-language:hover .toggle-language__list {
  display: block;
} */

/* .toggle-language:hover {
  border-radius: 0;
  border-top-left-radius: 0.3vw;
  border-top-right-radius: 0.3vw;
} */

.toggle-language__list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ffffffb0;
  cursor: default;
  width: 100%;
}

.toggle-language__item {
  display: flex;
  margin: 10px 5px;
  cursor: pointer;
  opacity: 0.5;
  color: #000;
}

.toggle-language__item:hover {
  opacity: 1;
}

.lang-img {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

/* slider */
#header__slider {
  position: relative;
  height: 30vw;
  display: none;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s;
  opacity: 0;
}

.slider-img:nth-child(3) {
  background-position: 100% 60% !important;
}

.slider-img.active {
  opacity: 1;
}

.slider-dots {
  position: absolute;
  bottom: 0;
  padding: 1vw;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-item {
  position: relative;
  width: 1.5vw;
  height: 1.5vw;
  margin: 0 0.2vw;
  cursor: pointer;
  border-radius: 1.5vw;
  border: 0.2vw solid #e9e9e9;
}

.dot-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vw;
  width: 0.7vw;
  height: 0.7vw;
  background: #e9e9e9;
  opacity: 0;
  transition: opacity 0.3s;
}

.dot-item.active:before {
  opacity: 1;
}

/* menu button */
.menu-button {
  position: absolute;
  top: 3vw;
  transform: translateY(-50%);
  right: 1vw;
  width: 5vw;
  height: 3vw;
  z-index: 5;
  cursor: pointer;
}

.menu-line {
  position: absolute;
  width: 100%;
  height: 0.7vw;
  background: #004a7b;
  border-radius: 0.5vw;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.menu-line:nth-child(1) {
  top: 0;
  left: 50%;
}

.menu-line:nth-child(2) {
  top: 50%;
  left: 50%;
}

.menu-line:nth-child(3) {
  top: 100%;
  left: 50%;
}

.menu-button.active .menu-line:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-button.active .menu-line:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.menu-button.active .menu-line:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.sub-list-menu {
  text-transform: initial;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .top-menu {
    font-size: 13px;
  }

  #logo {
    width: 20vw;
  }
}

@media screen and (min-width: 767px) {

  /* menu */
  .menu-button {
    display: none;
  }

  .header__menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #206AB6;
    color: #fff;
  }

  .menu-item {
    padding: 15px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    border: 1px solid transparent;
  }

  .menu-item:hover {
    /* border: 1px solid #0056ac; */
    /* background: linear-gradient(#58a4f0 10%, #206ab6); */
    /* color: #fff; */
    background: #3a8bde;
  }

  /* sub-menu */
  .sub-list-menu {
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    transition: opacity 0.5s;
    z-index: 1;
    /* background: #fff; */
    background: #3a8bde;
  }

  .sub-list-menu li {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
    /* color: #a7a7a7; */
    color: #fff;
    font-weight: normal;
  }

  .sub-list-menu li:hover {
    color: #206ab6;
  }

  .menu-item:hover .sub-list-menu {
    height: auto;
    opacity: 1;
  }

  .toggle-language:hover .toggle-language__list {
    display: block;
  }
}

@media screen and (max-width: 767px) {

  /* header */
  .header__top {
    height: 50vw;
    background: linear-gradient(#fff, #004a7b);
  }

  #logo {
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 12vw;
  }

  /* menu */
  .top-menu {
    top: 14vw;
    left: 5vw;
    flex-direction: column;
    font-size: 3vw;
  }

  .top-menu-item {
    border: none;
  }

  .toggle-language__list {
    left: 0;
    width: auto;
  }


  .toggle-language:hover .toggle-language__list {
    display: flex;
  }

  .toggle-language__item {
    margin: 0 5px;
    line-height: 2;
  }


  

  .header__menu {
    position: absolute;
    top: 0;
    margin: 0;
    list-style-type: none;
    height: 0;
    opacity: 0;
    width: 0;
    background: #fff;
    overflow: hidden;
    z-index: 2;
    transition: opacity 0.3s;
    border-bottom: 2px solid #ccc;
    box-sizing: border-box;
  }

  .header__menu.is-open {
    height: auto;
    width: 100%;
    padding: 15px;
    opacity: 1;
  }

  .menu-item {
    padding: 5px 0;
    font-weight: bold;
  }

  .menu-item:hover,
  .menu-item:hover .sub-list-menu li {
    background: #58a4f0;
    color: #fff;
  }

  /* sub-menu */
  .sub-list-menu {
    list-style-type: none;
    padding-left: 5px;
    margin: 0;
  }

  .sub-list-menu li {
    padding: 0;
    box-sizing: border-box;
    color: #a7a7a7;
    font-weight: normal;
  }

  .sub-list-menu li:before {
    content: "- ";
  }

  .sub-list-menu li:hover {
    color: #206ab6;
  }

  /* .toggle-language {
    right: 10vw;
  } */
}