/* 1200 | 992 | 767 | 550 */

@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

body {
  background: #ccc;
  font-family: 'Nanum Gothic', sans-serif;
  margin: 0;
  padding: 0 5vw;
}

#wrapper {
  box-shadow: 0 0 5px;
}

a {
  color: inherit;
  text-decoration: none;
  text-transform: inherit;
}

.right-part__main-tab {
  margin-left: 10px;
}

.president {
  width: 250px;
}

.president__inner {
  border: 1px solid #ccc;
}

.president__img {
  height: 200px;
  background: url(../images/president.jpg) 0 0 no-repeat;
  background-size: cover;
  border: 1px solid #ccc;
  margin: 10px;
  box-sizing: border-box;
}

.president__description {
  background: #206ab6;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.president__description b {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.president__link {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 10px 0;
  box-sizing: border-box;
}

.main__inner {
  display: flex;
}

.wiget__main {
  position: relative;
  width: 250px;
  height: 120px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.wiget__main-0 {
  margin-top: 50px;
}

.wiget__main_img {
  width: 100%;
  height: 70px;
}

.wiget__main-0 .wiget__main_img {
  background: url(../images/wigets/Glavnaya/tajikistan.jpg) center no-repeat;
  background-size: contain;
}

.wiget__main-1 .wiget__main_img {
  background: url(../images/wigets/Glavnaya/tajtrade-tg_medium.png) center no-repeat;
  background-size: 80%;
}

.wiget__main_text {
  display: flex;
  height: 50px;
  text-align: center;
  border-top: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.wiget__main_link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.popup-pdf {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 510px;
  max-height: 80vh;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 0 0 7px #000;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.pdf-list {
  max-height: calc(80vh - 60px);
  overflow-y: auto;
}

.popup-pdf.popup-opened {
  display: block;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url(../images/cross.png) center no-repeat;
  background-size: 90%;
  box-sizing: border-box;
  cursor: pointer;
}

.pdf-item {
  display: inline-block;
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  margin: 5px;
  box-sizing: border-box;
}

.pdf-img {
  width: 130px;
  height: 173px;
  background: url(../images/pdf.png) center no-repeat;
  background-size: contain;
}

.pdf-title {
  position: absolute;
  top: 65px;
  left: 5px;
  width: 120px;
  color: #fff;
  font-family: arial;
  word-break: break-word;
  text-shadow: 2px 1px 2px #000;
}

@media screen and (max-width: 767px) {
  .right-part__main-tab {
    margin-top: 50px;
  }

  .president,
  .main__inner {
    margin: auto !important;
  }

  .main__inner {
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (max-width: 350px) {

  .president,
  .wiget__main {
    width: 200px;
  }

  .president__img {
    height: 170px;
  }

  .wiget__main {
    font-size: 11px;
  }
}


.wigets-slider {
  width: 100%;
  height: 70px;
  margin-top: 50px;
  overflow: hidden;
}


.wigets-slider__inner {
  width: 5000%;
  height: 100%;
  transition: .5s;
}

.wigets-slider__item {
  float: left;
  height: 100%;
  background-size: contain;
  background-position: center;
  margin: 0 5px;
  background-repeat: no-repeat;
}

.wigets-slider__item-0 {
  background-image: url(../images/wigets/baner-1.png);
}

.wigets-slider__item-1 {
  background-image: url(../images/wigets/baner-2.png);
}

.wigets-slider__item-2 {
  background-image: url(../images/wigets/baner-3.png);
}

.wigets-slider__item-3 {
  background-image: url(../images/wigets/baner-4.png);
}

.wigets-slider__item-4 {
  background-image: url(../images/wigets/baner-5.jpg);
}

.wigets-slider__item-5 {
  background-image: url(../images/wigets/baner-6.png);
}

.wigets-slider__item-6 {
  background-image: url(../images/wigets/baner-7.png);
}

.wigets-slider__item-7 {
  background-image: url(../images/wigets/baner-8.png);
}


/* pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination-item {
  display: block;
  width: 25px;
  height: 25px;
  background: #206AB6;
  color: #fff;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  margin: 0 5px;
}