.form-group {
  display: flex;
  margin: 20px 0;
  flex-direction: column;
}

.form-group>* {
  margin-bottom: 5px;
}

.input-group {
  display: flex;
  align-items: center;
}


input {
  padding: 0 5px;
  transition: .3s;
}

input,
.remove-point-button {
  height: 30px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  outline: none;
}

input:focus {
  border-color: #3c93e9;
}

.transit-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.remove-point-button {
  width: 30px;
  border-left: none;
  cursor: pointer;
}

.add__point-button {
  color: #3c93e9;
}

button.calculate-button {
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px 15px;
  box-sizing: border-box;
  cursor: pointer;
  transition: .3s;
  outline: none;
}

button.calculate-button:hover {
  background: #206AB6;
  color: #fff !important;
}

#map_form {
  margin-bottom: 20px;
}

#transit-point {
  display: none;
}

.results-list,
.results-list__item {
  margin: 10px;
}

#map,
#google_map {
  width: 100% !important;
  border: 1px solid #ccc;
  margin: auto;
}

@media screen and (min-width: 992px) {
  #map,
  #google_map {
    height: 27vw !important;
  }
}

@media screen and (max-width: 992px) {
  #map,
  #google_map {
    height: 50vw !important;
  }
}

@media screen and (min-width: 767px) {
  #result-calculate {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  #result-calculate {
    margin-bottom: 50px;
  }
}