#navbar {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* calendar */
#calendar2 {
  font-size: 20px;
  line-height: 1.2em;
  text-align: center;
  margin: 50px auto;
}

#calendar2 thead tr:last-child {
  color: rgb(85, 85, 85);
  font-size: 16px;
}

#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}

#calendar2 thead tr:nth-child(1) td:nth-child(1):hover,
#calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}

#calendar2 tbody td {
  color: rgb(44, 86, 122);
  font-size: .8em;
}

#calendar2 tbody td:nth-child(n+6),
#calendar2 .holiday {
  color: rgb(231, 140, 92);
  color: rgb(60, 147, 233);
}

#calendar2 tbody td.today {
  background: #206AB6;
  color: #fff;
}


/* Contacts & Valute */
.list__title {
  font-size: 25px;
  font-weight: bold;
}

.list {
  color: #3B3B3B;
  border: 2px dotted #ccc;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
  padding: 20px;
}

.list li {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  justify-content: space-between;
}


/* sidebar */
#sidebar {
  background: #206AB6;
  color: #fff;
  border-radius: 8px;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__item {
  position: relative;
  font-size: 17px;
  border-bottom: 1px solid;
  padding: 15px 40px 15px 15px;
  cursor: pointer;
}


.sub-list {
  height: 0;
  transition: height .5s;
  overflow: hidden;
}

.sub-list__item {
  font-size: 15px;
  border-bottom: 1px solid;
  padding: 5px 10px;
  cursor: pointer;
}

.sub-list__item::before {
  content: '- ';
}

.hide-arrow {
  content: '❯';
  position: absolute;
  top: 12px;
  right: 10px;
  width: 20px;
  text-align: center;
  transition: .2s;
}

.list__item.openned .hide-arrow {
  transform: rotate(90deg);
}


@media screen and (min-width: 767px) {
  #navbar {
    border-right: 1px solid #ccc;
  }

  #calendar2 {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  #navbar {
    border-top: 1px solid #ccc;
  }

  #calendar2 {
    width: 200px;
  }
}